@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto+Mono:wght@200&display=swap');

* {
    border: 1px black solid;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.title,
.info,
.quote,
.cta {
    flex-basis: 22.5%;
}

.header,
.footer {
    flex-basis: 5%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 128px;
}



.header {
    /* display: flex; */
    position: fixed;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: black;
}

/* .header li {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.header a,
.header h2 {
    color: white;
}

.header a {
    display: inline-block;
    width: 4.5em;
    height: 1.5em;
    border: 1px solid white;
    border-radius: 25%;
    text-align: center;
    background-color: white;
    color: black;
    transition: 0.3s;
}

.header a:hover {
    background-color: lightskyblue;
    border: 2px solid blue;
}

.title {
    /* background-color: khaki; */
    background-image: url('pictures/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 90% 0); */
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 128px;
}

.title-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px 50px 150px;
    border-radius: 10% / 20%;
    background-color: rgba(0,0,0,0.75);
}

.title-container p,
.title-container h1 {
    color: white;
}

.button-design {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10% / 20%;
    width: 150px;
    height: 50px;
    background-color: white;
    transition: 0.3s;
}

.button-design:hover {
    border: 2px solid blue;
    background-color: lightskyblue;
}

.placeholder {
    width: 400px;
    height: 200px;
}

.info-container {
    flex-direction: column;
    padding: 80px 0 100px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 64px;
}

.card {
    flex-basis: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 10%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.card-front {
    position: absolute;
    width: 150px;
    height: 150px;
    backface-visibility: hidden;
}

.card-back {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
    background: orange;
    transform: rotateY(180deg);
    border-radius: 10%;
}

.quote-container,
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding: 100px 0;
}

.cta {
    /* width: 400px;
    height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    /* width: 200px;
    height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-p {
    text-align: center;
}

.link-basic {
    text-decoration: none;
    color: black;
}

#title-me {
    width: 400px;
    height: 400px;
}

#info-title {
    margin-top: 0;
    margin-bottom: 40px;
}

#cta-button {
    /* flex-shrink: 0; */
    
}

#header-title {
    font-family: 'Aboreto', cursive;
    font-size: 32px;
}

#title-title {
    font-family: 'Aboreto', cursive;
    font-size: 100px;
}